header {
    background-color: rgb(25, 71, 86);
    color: rgb(227, 11, 11);

}

body
{
    background-color: indigo;
    }
p {color: goldenrod;
}
h1
{ color: rgb(17, 181, 181);

}
a{
    color: yellowgreen ;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer
{
    color: red;

}
