header {
    background-color: rgb(25, 71, 86);
    color: rgb(227, 11, 11);

}

img{

    width: 488px;
    height: 550px;
    top: 235px;
    left: 1030px;
;

}
.Título_destaque{
        color: #22D4FD;
        border: 1px solid #22D4FD;
        padding: 10px;
}
body
{
    background-color: #433878;
    }
p {color: #E4B1F0;
}
h1
{ color: #7E60BF

}
a{
    color: #fdd49e;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer
{
    color:#FFE1FF;

}
